a {
  font-size: 1.2em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #5ca0d3;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #4e4e4e;
}

h1 {
  margin: 0;
  padding-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.925em;
  color: #5ca0d3;
}
h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  color: #5ca0d3;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  color: #107595;
}
p {
  line-height: 2;
}
hr {
  border: dotted silver;
  border-width: 10px 0 0 0;
  width: 7%;
  margin: 5.2em auto;
}


.top-container {
  background-color: #cbf1f5;
  position: relative;
  padding-top: 70px;
}
.first-cloud {
  position:absolute;
  top: 20px;
  right:325px;
}
.span-programer {
  font-weight: normal;
  font-size: 0.9em;
}
.span-pro {
  text-decoration: underline;
}
.second-cloud {
  position: absolute;
  left: 325px;
  bottom: 340px;
}


.middle-container {
  background-color: #fcf9ec;
  padding-bottom: 0;
}
.ImgVasyl {
  border-radius: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
}
.hello-paragraph {
  width: 30%;
  margin: auto;
}
.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}
.coding-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.finance-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-me {
  display: inline-block;
  width: 50%;
  padding: 0;
}
.btn {
  background: #3f789e;
  background-image: -webkit-linear-gradient(top, #3f789e, #5dbbf5);
  background-image: -moz-linear-gradient(top, #3f789e, #5dbbf5);
  background-image: -ms-linear-gradient(top, #3f789e, #5dbbf5);
  background-image: -o-linear-gradient(top, #3f789e, #5dbbf5);
  background-image: linear-gradient(to bottom, #3f789e, #5dbbf5);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 20px auto 100px;;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background: #58f5bc;
  background-image: -webkit-linear-gradient(top, #58f5bc, #379494);
  background-image: -moz-linear-gradient(top, #58f5bc, #379494);
  background-image: -ms-linear-gradient(top, #58f5bc, #379494);
  background-image: -o-linear-gradient(top, #58f5bc, #379494);
  background-image: linear-gradient(to bottom, #58f5bc, #379494);
  text-decoration: none;
}


.bottom-container {
  background-color: #71c9ce;
  padding: 25px 0 0;
}
.footer-link {
  margin:0 20px;
}
.footer-link:hover {
  color: white;
}
.paragraph-footer {
  margin: 0;
  padding: 12.8px;
  font-size: 0.8em;
  color: white;
}
